body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFF;
}

div {
  position: absolute;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

#main {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0b2036;
  overflow: hidden;
}

#intro {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

#clickThrough {
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

.frame {
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  height: 67.5%;
}

.img {
  width: 50%;
  height: 100%;
}

.imgLeft {
  top: 0;
  left: 0;
}

.imgRight {
  top: 0;
  right: 0;
}

.frame .txt {
  bottom: 9.1358%;
  left: 50%;
  transform: translate(-50%);
  width: 73.38867%;
  height: 26.2963%;
}

.arrow {
  top: 50%;
  transform: translate(0, -50%);
  width: 80px;
  height: 80px;
}

.arrow.left {
  left: 5%;
  background-image: url(arrow_lt.png);
}

.arrow.right {
  right: 5%;
  background-image: url(arrow_rt.png);
}

.logo.main {
  width: 25.58594%;
  height: 12.5%;
  top: 1%;
  left: 50%;
  transform: translate(-50%);
  background-image: url(BB_logo.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.cta {
  bottom: 4.0625%;
  width: 19.53125%;
  height: 7.41667%;
  border: 1px solid #FFF;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.cta.men {
  left: 50%;
  background-image: url(cta_txt_men.png);
}

.cta.women {
  left: 72%;
  background-image: url(cta_txt_women.png);
}

.nav {
  width: 14.16016%;
  height: 2.83333%;
  bottom: 4.0625%;
  left: 25%;
  transform: translate(-50%);
  display: flex;
}

.dot {
  width: 20%;
  height: 100%;
  position: relative;
  background-image: url(navDot.png);
  background-size: 30%;
  background-position: center center;
  background-repeat: no-repeat;
}

.frame1 .imgLeft {
  background-image: url(img_1_1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.frame1 .imgRight {
  background-image: url(img_1_2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.frame1 .txt {
  background-image: url(text1.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.frame2 .imgLeft {
  background-image: url(img_2_1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.frame2 .imgRight {
  background-image: url(img_2_2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.frame2 .txt {
  background-image: url(text2.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.frame3 .imgLeft {
  background-image: url(img_3_1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.frame3 .imgRight {
  background-image: url(img_3_2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.frame3 .txt {
  background-image: url(text3.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.frame4 .imgLeft {
  background-image: url(img_4_1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.frame4 .imgRight {
  background-image: url(img_4_2.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.frame4 .txt {
  background-image: url(text4.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.frame5 .imgLeft {
  background-image: url(img_5_1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.frame5 .imgRight {
  background-image: url(img_5_2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.frame5 .txt {
  background-image: url(text5.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
